{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

        <div class="t-title">
            <h1>New Center</h1>
        </div>
        
        <div class="vline"></div>
        <div class="form-layer">

            <form action="#" method = "post">
            
                <div class="form-body">
                    
                    <label for="name">Name:</label>
                    <input type ="text" class="form-control" maxlength="100" name="name">

                    <label for="About">About:</label>
                    <input type ="text" class="form-control" maxlength="500" name="about">

                    <label for="fields">Fields:</label>
                    <input type ="text" class="form-control" maxlength="100" name="fields" >

                    <label for="address">Address:</label>
                    <input type ="text" class="form-control" maxlength="100" name="address">
                    
                    <button type="submit" class="default-btn" id="submit">
                       Create
                    </button>

                    <a href = '{{url_for("showCenters")}}'>
                        <button class="default-btn red" type="button"> Cancel</button>
                    </a>
                
                </div>


            </form>
        </div>
{% endblock %}   